/* ********* */
/* @VARIABLES */
/* ********* */


$background: (
    degradado1: #196B90,
    degradado2: #13FDE0,
);

$colores: (
    titulos: white,
    hover: #0450F6,
);

$letra__titulos: 1.5rem;

$ancho__componentes: 50%;

$letra_inputs: 1.2rem;

$tipo_letra: "Helvetica", sans-serif;

$altura__input: 2.3rem;